In [15]:
import pandas as pd
pd.set_option('display.max_columns', None) # Want to see all the output columns :)

In [34]:
# Read the data
green_taxi_trips = pd.read_parquet("./green_tripdata_2025-11.parquet", engine = "pyarrow")
zone_lkup = pd.read_csv("./taxi_zone_lookup.csv")

display(green_taxi_trips.head(10), zone_lkup.head(10))

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,1.00,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.00
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,1.00,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.00
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,1.00,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.00
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,1.00,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.00
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,3.75,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.00
5,1,2025-11-01 00:42:13,2025-11-01 01:04:50,N,1.0,112,48,2.0,5.10,26.8,4.50,1.5,6.55,0.0,NaN,1.0,39.35,1.0,1.0,2.75,0.75
6,2,2025-11-01 00:05:41,2025-11-01 00:39:20,N,1.0,83,87,1.0,9.80,43.6,1.00,0.5,9.92,0.0,NaN,1.0,59.52,1.0,1.0,2.75,0.75
7,2,2025-11-01 00:42:14,2025-11-01 01:13:20,N,1.0,66,233,1.0,5.01,28.9,1.00,0.5,6.98,0.0,NaN,1.0,41.88,1.0,1.0,2.75,0.75
8,2,2025-11-01 00:03:08,2025-11-01 00:06:27,N,1.0,223,223,1.0,0.63,5.1,1.00,0.5,1.52,0.0,NaN,1.0,9.12,1.0,1.0,0.00,0.00
9,2,2025-11-01 00:56:33,2025-11-01 01:01:34,N,1.0,130,130,1.0,1.15,7.9,1.00,0.5,0.00,0.0,NaN,1.0,10.40,2.0,1.0,0.00,0.00

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone
5           6  Staten Island  Arrochar/Fort Wadsworth    Boro Zone
6           7         Queens                  Astoria    Boro Zone
7           8         Queens             Astoria Park    Boro Zone
8           9         Queens               Auburndale    Boro Zone
9          10         Queens             Baisley Park    Boro Zone

In [33]:
# Merge the data sets for easier reference
trips_and_zones = green_taxi_trips.merge(
    zone_lkup,
    left_on = "PULocationID",
    right_on = "LocationID",
    how = "left")

trips_and_zones.head(10)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee,LocationID,Borough,Zone,service_zone
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,1.00,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.00,74,Manhattan,East Harlem North,Boro Zone
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,1.00,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.00,74,Manhattan,East Harlem North,Boro Zone
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,1.00,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.00,83,Queens,Elmhurst/Maspeth,Boro Zone
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,1.00,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.00,166,Manhattan,Morningside Heights,Boro Zone
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,3.75,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.00,166,Manhattan,Morningside Heights,Boro Zone
5,1,2025-11-01 00:42:13,2025-11-01 01:04:50,N,1.0,112,48,2.0,5.10,26.8,4.50,1.5,6.55,0.0,NaN,1.0,39.35,1.0,1.0,2.75,0.75,112,Brooklyn,Greenpoint,Boro Zone
6,2,2025-11-01 00:05:41,2025-11-01 00:39:20,N,1.0,83,87,1.0,9.80,43.6,1.00,0.5,9.92,0.0,NaN,1.0,59.52,1.0,1.0,2.75,0.75,83,Queens,Elmhurst/Maspeth,Boro Zone
7,2,2025-11-01 00:42:14,2025-11-01 01:13:20,N,1.0,66,233,1.0,5.01,28.9,1.00,0.5,6.98,0.0,NaN,1.0,41.88,1.0,1.0,2.75,0.75,66,Brooklyn,DUMBO/Vinegar Hill,Boro Zone
8,2,2025-11-01 00:03:08,2025-11-01 00:06:27,N,1.0,223,223,1.0,0.63,5.1,1.00,0.5,1.52,0.0,NaN,1.0,9.12,1.0,1.0,0.00,0.00,223,Queens,Steinway,Boro Zone
9,2,2025-11-01 00:56:33,2025-11-01 01:01:34,N,1.0,130,130,1.0,1.15,7.9,1.00,0.5,0.00,0.0,NaN,1.0,10.40,2.0,1.0,0.00,0.00,130,Queens,Jamaica,Boro Zone

Question 3. Counting short trips

In [6]:
november_trips = green_taxi_trips[
    (green_taxi_trips['lpep_pickup_datetime'] >= '2025-11-01') &
    (green_taxi_trips['lpep_pickup_datetime'] < '2025-12-01') &
    (green_taxi_trips['trip_distance'] <= 1)
]

short_trips_count = len(november_trips)
short_trips_count

8007

Question 4. Longest trip for each day

In [13]:
# Extract the date from lpep_pickup_datetime and find the longest trip for each day
longest_trip_per_day = green_taxi_trips[green_taxi_trips['trip_distance'] < 100].groupby(
    green_taxi_trips['lpep_pickup_datetime'].dt.date
)['trip_distance'].max()

# Find the day with the longest trip
day_with_longest_trip = longest_trip_per_day.idxmax()
longest_distance = longest_trip_per_day.max()

print(f"Day with longest trip: {day_with_longest_trip}")
print(f"Longest trip distance: {longest_distance} miles")

Day with longest trip: 2025-11-14
Longest trip distance: 88.03 miles

Question 5. Biggest pickup zone

In [37]:
# Filter trips for November 18th, 2025
nov_18_trips = trips_and_zones[
    trips_and_zones['lpep_pickup_datetime'].dt.date == pd.to_datetime('2025-11-18').date()
]

# Group by Zone and sum the total_amount
pickup_zone_totals = nov_18_trips.groupby('Zone')['total_amount'].sum()

# Find the pickup zone with the largest total_amount
biggest_pickup_zone = pickup_zone_totals.idxmax()
largest_total = pickup_zone_totals.max()

print(f"Pickup zone with largest total_amount on Nov 18: {biggest_pickup_zone}")
print(f"Total amount: ${largest_total:.2f}")

Pickup zone with largest total_amount on Nov 18: East Harlem North
Total amount: $9281.92

Question 6. Largest tip

In [ ]:
# Filter trips with pickup zone "East Harlem North" in November 2025
east_harlem_north_pickups = trips_and_zones[
    (trips_and_zones['Zone'] == 'East Harlem North') &
    (trips_and_zones['lpep_pickup_datetime'].dt.month == 11) &
    (trips_and_zones['lpep_pickup_datetime'].dt.year == 2025)
]

east_harlem_north_pickups = trips_and_zones[trips_and_zones['trip_distance'] < 100].groupby(
    trips_and_zones['lpep_pickup_datetime'].dt.date
)['trip_distance'].max()


# Find the trip with the largest tip
max_tip_idx = east_harlem_north_pickups['tip_amount'].idxmax()
largest_tip_trip = east_harlem_north_pickups.loc[max_tip_idx]

dropoff_zone = largest_tip_trip['Zone_dropoff']
tip_amount = largest_tip_trip['tip_amount']

print(f"Dropoff zone with largest tip: {dropoff_zone}")
print(f"Tip amount: ${tip_amount:.2f}")

KeyError: 'Zone_dropoff'